In [5]:
# Imported the dataset
from datasets import load_dataset
dataset = load_dataset("ai4privacy/pii-masking-300k", data_files={"train": "data/train/1english_openpii_30k.jsonl"})
# 29,908 individual data points in this "train" split

In [14]:
# Inspect the dataset
print(type(dataset))
dataset.shape

<class 'datasets.dataset_dict.DatasetDict'>

{'train': (29908, 9)}

In [10]:
train = dataset['train']
print(type(train))
df_train = train.to_pandas() # Convert the 'train' dataset to a dataframe

In [13]:
# Inspect the df_train
df_train.head(10)

,source_text,target_text,privacy_mask,span_labels,mbert_text_tokens,mbert_bio_labels,id,language,set
0,Subject: Group Messaging for Admissions Proces...,Subject: Group Messaging for Admissions Proces...,"[{'value': 'wynqvrh053', 'start': 287, 'end': ...","[[440, 453, ""USERNAME""], [430, 437, ""TIME""], [...","[Sub, ##ject, :, Group, Mess, ##aging, for, Ad...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40767A,English,train
1,- Meeting at 2:33 PM\n- N23 - Meeting at 11:29...,- Meeting at [TIME]\n- [USERNAME] - Meeting at...,"[{'value': '2:33 PM', 'start': 13, 'end': 20, ...","[[74, 81, ""TIME""], [50, 60, ""USERNAME""], [40, ...","[-, Meeting, at, 2, :, 33, PM, -, N, ##23, -, ...","[O, O, O, B-TIME, I-TIME, I-TIME, I-TIME, O, O...",40767B,English,train
2,Subject: Admission Notification - Great Britai...,Subject: Admission Notification - Great Britai...,"[{'value': '5:24am', 'start': 263, 'end': 269,...","[[395, 407, ""SOCIALNUMBER""], [358, 375, ""EMAIL...","[Sub, ##ject, :, Ad, ##mission, Not, ##ificati...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40768A,English,train
3,Card: KB90324ER\n Country: GB\n Building: ...,Card: [IDCARD]\n Country: [COUNTRY]\n Buil...,"[{'value': 'KB90324ER', 'start': 6, 'end': 15,...","[[390, 393, ""STATE""], [368, 378, ""CITY""], [346...","[Card, :, KB, ##90, ##32, ##4, ##ER, \, n, Cou...","[O, O, B-IDCARD, I-IDCARD, I-IDCARD, I-IDCARD,...",40768B,English,train
4,"N, WA14 5RW\n Password: r]iD1#8\n\n...and so...","N, WA14 5RW\n Password: [PASS]\n\n...and so ...","[{'value': 'r]iD1#8', 'start': 26, 'end': 33, ...","[[336, 352, ""DATE""], [26, 33, ""PASS""]]","[N, ,, W, ##A, ##14, 5, ##R, ##W, \, n, Pass, ...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-PASS...",40768C,English,train
5,Subject: Admission Application Attachments Con...,Subject: Admission Application Attachments Con...,"[{'value': '301025226', 'start': 311, 'end': 3...","[[311, 320, ""PASSPORT""]]","[Sub, ##ject, :, Ad, ##mission, Application, A...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40769A,English,train
6,981\n- Social Security Number: 554.575.9355\n-...,981\n- Social Security Number: [SOCIALNUMBER]\...,"[{'value': '554.575.9355', 'start': 30, 'end':...","[[263, 279, ""TEL""], [226, 249, ""EMAIL""], [206,...","[981, -, Social, Security, Number, :, 554, ., ...","[O, O, O, O, O, O, O, O, B-SOCIALNUMBER, I-SOC...",40769B,English,train
7,s carefully and inform us immediately if there...,s carefully and inform us immediately if there...,"[{'value': 'Rue des Écoles', 'start': 320, 'en...","[[342, 354, ""DATE""], [338, 340, ""TIME""], [320,...","[s, care, ##fully, and, info, ##rm, us, immedi...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",40769C,English,train
8,"- id_1:\n Feb 8, 1986\n iloweintögl\n 4929-...",- id_1:\n [BOD]\n [USERNAME]\n [TEL]\n Det...,"[{'value': 'Feb 8, 1986', 'start': 10, 'end': ...","[[287, 300, ""TEL""], [280, 284, ""USERNAME""], [2...","[-, id, _, 1, :, Feb, 8, ,, 1986, il, ##owe, #...","[O, O, O, O, O, O, B-BOD, I-BOD, I-BOD, I-BOD,...",40772A,English,train
9,y involved in community service initiatives.\n...,y involved in community service initiatives.\n...,"[{'value': 'Apr 29, 1973', 'start': 55, 'end':...","[[339, 355, ""TEL""], [314, 336, ""USERNAME""], [2...","[y, involved, in, community, service, initiati...","[O, O, O, O, O, O, O, O, O, O, O, O, O, B-BOD,...",40772B,English,train

In [16]:
import random

# Set a seed for reproducibility
random.seed(123)
# Generate a random number between 1 and 29,908
stella_rand_num = random.randint(1, 29908)
shrieyaa_rand_num = random.randint(1, 29908)

print([stella_rand_num, shrieyaa_rand_num])

[1716, 8772]

Stella:  
- Sat: 1720-1739  
- Sun: 1740-1759  
- Mon: 1760-1779  
- Tue: 1780-1799  
- Wed: 1800-1819  
Shrieyaa:  
- Sat: 8770-8789  
- Sun: 8790-8809  
- Mon: 8810-8829  
- Tue: 8830-8849  
- Wed: 8850-8869  
Total of 200 rows checked and/or edited by end.

In [21]:
# sample of how I'll manually check/edit
print(df_train.iloc[1721]['source_text'])
print(df_train.iloc[1721]['target_text']) # print formats it nicer

"November/67, 16FF1967, 295.126.9661, 263800308, 02582.664912, GB, 860, Ellerker Lane, Leeds, ENG, LS14, 21:11, Farnaz, Flaminia, 16FF1967, 16/08/1979, S74 9NW, 1 o'clock PM"
"[BOD], [USERNAME], [SOCIALNUMBER], [PASSPORT], [TEL], [COUNTRY], [BUILDING], [STREET], [CITY], [STATE], [POSTCODE], [TIME], [GIVENNAME1], [GIVENNAME2], [USERNAME], [DATE], [POSTCODE], [TIME]"

In [25]:
# edit target_text col accordingly -- lmk if you want to do the others but I think this is fine for now, and then
# we can consult with Dhakshina on Thurs to see if we have to modify other cols to be used as the label col

# in this case I changed 295.126.9661 to TEL and 263800308 to SOCIALNUMBER 
df_train.loc[1721, 'target_text'] = "[BOD], [USERNAME], [TEL], [SOCIALNUMBER], [TEL], [COUNTRY], [BUILDING], [STREET], [CITY], [STATE], [POSTCODE], [TIME], [GIVENNAME1], [GIVENNAME2], [USERNAME], [DATE], [POSTCODE], [TIME]"

In [26]:
df_train.loc[1721]

source_text          "November/67, 16FF1967, 295.126.9661, 26380030...
target_text          [BOD], [USERNAME], [TEL], [SOCIALNUMBER], [TEL...
privacy_mask         [{'value': 'November/67', 'start': 1, 'end': 1...
span_labels          [[161, 173, "TIME"], [152, 159, "POSTCODE"], [...
mbert_text_tokens    [", November, /, 67, ,, 16, ##FF, ##19, ##6, #...
mbert_bio_labels     [O, B-BOD, I-BOD, I-BOD, O, B-USERNAME, I-USER...
id                                                               41511
language                                                       English
set                                                              train
Name: 1721, dtype: object

In [ ]:
For later: 
Ideas on what to add if time permits (I'll probably only be doing it where appropriate):  
- medical information like conditions, prescriptions  
- instagram handles  
- credit card information
- educational history (school attended)
We should agree on abbreviations for that information (i.e. [MEDINFO] for medical information)