In [1]:
import os
import pandas as pd

In [2]:
filepath = os.path.join(os.getcwd(), 'data', 'extracted_tel_numbers_english_updated.csv')

# Read the CSV file using pandas
df = pd.read_csv(filepath)

In [3]:
# Use the same rows as those in Shrieyaa's mini df to check if the updated regex algorithm works
sample_df = df[448:548]

In [4]:
# sample_df = sample_df.drop('Unnamed: 0', axis=1)
sample_df

,Unnamed: 0,unmasked_text,masked_text,phone_number,target
448,448,Got some exciting findings for individuals wit...,Got some exciting findings for individuals wit...,05196 04711,O
449,449,"Name Simonis, your cognitive therapy session i...","[FIRSTNAME_1] [LASTNAME_1], your cognitive the...",1063 690.6267,TEL
450,450,Medical intervention and occupational therapy ...,Medical intervention and occupational therapy ...,+40-724-062 4764,TEL
451,451,Looking for a therapy session before 6 AM. Liv...,Looking for a therapy session before [TIME_1]....,03816-26306,O
452,452,Emergency meeting announced for Accounts assoc...,Emergency meeting announced for [JOBAREA_1] as...,+94.476-548.6102,TEL
...,...,...,...,...,...
543,543,Patient Fredrick with insurance account 226610...,Patient [FIRSTNAME_1] with insurance account [...,+736 435 268.6135,TEL
544,544,We received your request Jaleel. We'll get in ...,We received your request [FIRSTNAME_1]. We'll ...,048 782 9867,TEL
545,545,"Hi, just signed up for a new start-up venture....","Hi, just signed up for a new start-up venture....",(28)-5333-1243,O
546,546,"Frederic_Cormier14, we noticed you missed our ...","[USERNAME_1], we noticed you missed our last s...",(83).1657 1303,O
547,547,Urgent: Ignatius Kyle is responsible for Turco...,Urgent: [FIRSTNAME_1] [MIDDLENAME_1] is respon...,01-93.83 26-27,O

In [5]:
filepath = os.path.join(os.getcwd(), 'data', 'joy_mini_df_tel.csv')
sample_df.to_csv(filepath)